@import "tailwindcss";
@plugin "daisyui";

.active{
    color: rgb(49, 205, 49);
}

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
